<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.etools.emf.ecore.utilities"
   name="Ecore Utilities"
   version="0.5.0"
   provider-name="IBM"
   class="com.ibm.etools.eclipse.integration.EcoreUtilitiesPlugin">

   <runtime>
      <library name="runtime/ecore.utilities.jar">
         <export name="*"/>
      </library>
      <library name="runtime/workbench.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.wtp.common"/>
   </requires>


   <extension-point id="packageURIMap" name="PackageURIMap"/>

<!-- Need to register the Ecore specific package mappings -->
   <extension
         point="com.ibm.etools.emf.ecore.utilities.packageURIMap">
      <map
            uri="http://www.eclipse.org/emf/2002/Ecore"
            prefix="ecore">
      </map>
      <map
            uri="http://www.eclipse.org/emf/2002/Mapping"
            prefix="mapping">
      </map>
<!-- Trick to get Mapping.xmi for MOF5 serialization -->
      <map
            uri="http://www.eclipse.org/emf/2002/Mapping"
            prefix="Mapping">
      </map>
   </extension>

</plugin>
