<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.wtp.common"
   name="com.ibm.wtp.common"
   version="1.0.0"
   class="com.ibm.wtp.common.plugin.WTPCommonPlugin">

   <runtime>
      <library name="common.jar">
         <export name="*"/>
      </library>
      <library name="common_core.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
   </requires>


   <extension-point id="ExtendableOperation" name="ExtendabledOperation" schema="schema/ExtendableOperation.exsd"/>
   <extension-point id="OperationExtension" name="OperationExtension" schema="schema/OperationExtension.exsd"/>
   <extension-point id="functionGroup" name="Function Extension Group" schema="schema/functionGroup.exsd"/>
   <extension-point id="uiContextSensitiveClass" name="UI Context Sensitive Class" schema="schema/uiContextSensitiveClass.exsd"/>
   <extension-point id="uiTester" name="UI Tester" schema="schema/uiTester.exsd"/>

   <extension
         id="context.Sensitive.Class.workingCopyManager"
         name="Working Copy Manager - Headless Context Class"
         point="com.ibm.wtp.common.uiContextSensitiveClass">
      <uiContextSensitiveClass
            context="Headless"
            key="workingCopyManager"
            className="com.ibm.wtp.common.WTPWorkingCopyManager">
      </uiContextSensitiveClass>
   </extension>
   <extension
         id="context.Sensitive.Class.saveHandler"
         name="Save Handler - Headless Context Class"
         point="com.ibm.wtp.common.uiContextSensitiveClass">
      <uiContextSensitiveClass
            context="Headless"
            key="saveHandler"
            className="com.ibm.wtp.common.SaveHandlerHeadless">
      </uiContextSensitiveClass>
   </extension>
   <extension
         id="com.ibm.wtp.common.enablement"
         point="com.ibm.wtp.common.uiContextSensitiveClass">
      <uiContextSensitiveClass
            context="Headless"
            key="com.ibm.wtp.common.EnablementDetermination"
            className="com.ibm.wtp.internal.enablement.EnablementManager">
      </uiContextSensitiveClass>
   </extension>

</plugin>
