<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!--============================-->
<!-- Web JSFaces File URL extension -->
<!--============================-->

   <extension-point id="fileURL" name="FileURL"/>


<!--============================-->
<!-- Web Validator                   -->
<!--============================-->
   <extension
         id="WarValidator"
         name="%war_validator_UI_"
         point="org.eclipse.wst.validation.validator">
      <validator>
         <projectNature
               id="org.eclipse.wst.common.modulecore.ModuleCoreNature">
         </projectNature>
         <filter
               objectClass="org.eclipse.core.resources.IFile"
               nameFilter="web.xml">
         </filter>
         <filter
               objectClass="org.eclipse.core.resources.IFile"
               nameFilter="*.jar">
         </filter>
         <filter
               objectClass="org.eclipse.core.resources.IFile"
               nameFilter=".websettings">
         </filter>
         <helper
               class="org.eclipse.jst.j2ee.internal.web.validation.UIWarHelper">
         </helper>
         <dependentValidator
               depValValue="true">
         </dependentValidator>
         <run
               class="org.eclipse.jst.j2ee.internal.web.validation.UIWarValidator">
         </run>
      </validator>
   </extension>
<!--============================-->
<!-- Web Project Nature Contributions                     -->
<!--============================-->
<!--   <extension
         id="WebNature"
         name="Web Properties"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.jst.j2ee.internal.web.operations.J2EEWebNatureRuntime">
         </run>
      </runtime>
   </extension>  -->
 

<!-- Register the nature id with the AbstractJavaMOFNature -->
<!--<extension
         point="org.eclipse.jem.workbench.nature_registration">
      <nature
            id="org.eclipse.jst.j2ee.web.WebNature">
      </nature>
    </extension> -->
   <extension
         id="editModel.web"
         name="Web Edit Model"
         point="org.eclipse.wst.common.emfworkbench.integration.editModel">
      <editModel
            editModelID="org.eclipse.jst.web.editModel"
            factoryClass="org.eclipse.jst.j2ee.internal.web.operations.WebEditModelFactory">
         <editModelResource
               URI="WEB-INF/web.xml">
         </editModelResource>
         <editModelResource
               URI="WEB-INF/webservicesclient.xml">
         </editModelResource>
      </editModel>
   </extension>
   <extension
         id="WebModuleExtension"
         name="WebModuleExtension"
         point="org.eclipse.jst.j2ee.EARModuleExtension">
      <earModuleExtension
            extensionClass="org.eclipse.jst.j2ee.internal.web.plugin.WebModuleExtensionImpl">
      </earModuleExtension>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.adapterFactory">
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.web.providers.WebapplicationItemProviderAdapterFactory"
            packageURI="webapplication.xmi"
            id="org.eclipse.jst.j2ee.webapplication.provider.WebapplicationItemProviderAdapterFactory">
      </adapterFactory>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.adapterFactory">
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.web.providers.JspItemProviderAdapterFactory"
            packageURI="jsp.xmi"
            id="org.eclipse.jst.j2ee.internal.jsp.provider.JspItemProviderAdapterFactory">
      </adapterFactory>
   </extension>
   <extension
         point="org.eclipse.wst.common.frameworks.ExtendableOperation">
      <extendableOperation
            class="org.eclipse.jst.j2ee.internal.web.archive.operations.WebComponentCreationOperation"
            id="org.eclipse.jst.j2ee.internal.web.archive.operations.WebComponentCreationOperation">
      </extendableOperation>
      <extendableOperation
            class="org.eclipse.jst.j2ee.internal.web.archive.operations.WARImportOperation"
            id="org.eclipse.jst.j2ee.internal.web.archive.operations.WARImportOperation">
      </extendableOperation>
   </extension>
<!-- ======================Lib Dir Builder ========================= -->
   <extension
         id="LibDirBuilder"
         name="Lib Dir Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.jst.j2ee.internal.web.operations.LibDirBuilder">
         </run>
      </builder>
   </extension>
<!-- ==================================================================== -->
<!-- Extension point: org.eclipse.etools.server.core.moduleObjectAdapters -->
<!-- Purpose: Define adapters for EJB and Web resources                   -->
<!-- ==================================================================== -->
      <extension point="org.eclipse.wst.server.core.moduleArtifactAdapters">  
      
       <moduleArtifactAdapter
            id="org.eclipse.jst.web.server.webresource"
            class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableArtifactAdapterFactory">     
         <enablement>
           <with variable="selection">
             <adapt type="org.eclipse.jst.j2ee.webapplication.WebApp"/>
           </with>
         </enablement>
      </moduleArtifactAdapter> 
      
      <moduleArtifactAdapter
            id="org.eclipse.jst.web.server.webresource2"
             class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableArtifactAdapterFactory">      
         <enablement>
           <with variable="selection">
             <adapt type="org.eclipse.jst.server.core.Servlet"/>
           </with>
         </enablement>
       </moduleArtifactAdapter>
       
       <moduleArtifactAdapter
            id="org.eclipse.jst.web.server.webresource3"
            class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableArtifactAdapterFactory">     
         <enablement>
           <with variable="selection">
             <adapt type="org.eclipse.core.resources.IProject"/>
           </with>
         </enablement>
       </moduleArtifactAdapter>     
       
        <moduleArtifactAdapter
            id="org.eclipse.jst.web.server.webresource4"
            class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableArtifactAdapterFactory">
         <enablement>
           <with variable="selection">
             <adapt type="org.eclipse.core.resources.IFile"/>
           </with>
         </enablement>
       </moduleArtifactAdapter>

      <moduleArtifactAdapter
            id="org.eclipse.jst.web.server.webresource5"
            class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableArtifactAdapterFactory">
          
         <enablement>
           <with variable="selection">
             <adapt type="org.eclipse.jdt.core.ICompilationUnit"/>
           </with>
         </enablement>
       </moduleArtifactAdapter>
   </extension>
   
    <extension point="org.eclipse.core.runtime.adapters">
         <factory
             class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableArtifactAdapterFactory"
             adaptableType="org.eclipse.core.resources.IProject">
             <adapter type= "org.eclipse.debug.ui.actions.ILaunchable"/>
        </factory>
        <factory
             class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableArtifactAdapterFactory"
             adaptableType="org.eclipse.jdt.core.ICompilationUnit">
            <adapter type= "org.eclipse.debug.ui.actions.ILaunchable"/>
        </factory>
        <factory
             class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableArtifactAdapterFactory"
             adaptableType="org.eclipse.core.resources.IFile">
            <adapter type= "org.eclipse.debug.ui.actions.ILaunchable"/>
       </factory>
       <factory
             class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableArtifactAdapterFactory"
             adaptableType="org.eclipse.jst.j2ee.internal.webapplication.impl.ServletImpl">
             <adapter type= "org.eclipse.debug.ui.actions.ILaunchable"/>
       </factory>
       <factory
             class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableArtifactAdapterFactory"
             adaptableType="org.eclipse.jst.j2ee.internal.webapplication.impl.WebAppImpl">
             <adapter type= "org.eclipse.debug.ui.actions.ILaunchable"/>
       </factory> 
       <factory
             class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableArtifactAdapterFactory"
             adaptableType="org.eclipse.jst.server.core.Servlet">
             <adapter type= "org.eclipse.debug.ui.actions.ILaunchable"/>
       </factory>
          
   </extension>  
   
<!-- =============================================================== -->
<!-- Extension point: com.ibm.etools.server.core.moduleFactories -->
<!-- Purpose: Define the default module project factory          -->
<!-- =============================================================== -->
   <extension
         point="org.eclipse.wst.server.core.moduleFactories">
      <moduleFactory
            projects="true"
            class="org.eclipse.jst.j2ee.internal.web.deployables.WebDeployableFactory"
            id="com.ibm.wtp.web.server">
         <moduleType
               versions="1.2, 1.3, 1.4"
               types="j2ee.web">
         </moduleType>
      </moduleFactory>
   </extension>
   
<!-- =============================================================== -->
<!-- WTP Operation extendable operations						        -->
<!-- =============================================================== -->
   <extension
         point="org.eclipse.wst.common.frameworks.ExtendableOperation">
      <extendableOperation
            class="org.eclipse.jst.j2ee.internal.web.operations.RemoveServletOperation"
            id="org.eclipse.jst.j2ee.internal.web.operations.RemoveServletOperation">
      </extendableOperation>
      <extendableOperation
            class="org.eclipse.jst.j2ee.internal.web.operations.RemoveWebSecurityRoleOperation"
            id="org.eclipse.jst.j2ee.internal.web.operations.RemoveWebSecurityRoleOperation">
      </extendableOperation>
      <extendableOperation
            class="org.eclipse.jst.j2ee.internal.web.operations.AddServletOperation"
            id="org.eclipse.jst.j2ee.internal.web.operations.AddServletOperation">
      </extendableOperation>
   </extension>
   
<!-- =============================================================== -->
<!-- TagLib Server Target Listener Ext 						        -->
<!-- =============================================================== -->
   
   <extension point="org.eclipse.wst.server.core.runtimeTargetHandlers">
   <runtimeTargetHandler
      id="com.ibm.wtp.webtools.taglib.runtimeTarget"
      runtimeTypeIds="com.ibm.ws.ast.st.runtime.v60, com.ibm.etools.websphere*"
      class="org.eclipse.jst.j2ee.internal.web.taglib.WebProjectServerTaglibListener"/>
	</extension>


 	<extension point="org.eclipse.jst.common.navigator.java.compressedProject">
 		<compressedProject natureId="org.eclipse.jst.j2ee.web.WebNature" />
		<compressedProject natureId="org.eclipse.wst.web.StaticWebNature" />
 		
	</extension> 		

<!-- icon="icons/full/obj16/webapp_deploy.gif" -->


<!-- =========================================================== -->
<!--   Web Tag set definitions for XDoclet                       -->
<!-- =========================================================== -->

   <extension
         id="WebTagSets"
         point="org.eclipse.jst.common.annotations.controller.AnnotationTagSet">
      <AnnotationTagSet
            name="web">
      </AnnotationTagSet>
   </extension>
   
   <extension
         id="WebAnnotationInfo"
         point="org.eclipse.jst.common.annotations.controller.AnnotationTagInfo">
	  <AnnotationTagInfo
            tagSet="web"
            tagName="filter"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               name="description">
         </attrib>
         <attrib
               name="display-name">
         </attrib>
         <attrib
               name="small-icon">
         </attrib>
         <attrib
               name="large-icon">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="filter-init-param"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               name="value">
         </attrib>
         <attrib
               name="description">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="filter-mapping"
            scope="type">
         <attrib
               name="url-pattern">
         </attrib>
         <attrib
               name="servlet-name">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="servlet"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               name="display-name">
         </attrib>
         <attrib
               name="icon">
         </attrib>
         <attrib
               name="description">
         </attrib>
         <attrib
               name="load-on-startup">
         </attrib>
         <attrib
               name="run-as">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="servlet-init-param"
            multiplicity="*"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               name="value">
         </attrib>
         <attrib
               name="description">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="servlet-mapping"
            multiplicity="*"
            scope="type">
         <attrib
               use="required"
               name="url-pattern">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="listener"
            scope="type">
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="security-role-ref"
            scope="type">
         <attrib
               use="required"
               name="role-name">
         </attrib>
         <attrib
               use="required"
               name="role-link">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="resource-env-ref"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               use="required"
               name="type">
         </attrib>
         <attrib
               name="description">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="resource-ref"
            scope="type">
         <attrib
               use="required"
               name="name">
         </attrib>
         <attrib
               use="required"
               name="type">
         </attrib>
         <attrib
               use="required"
               name="auth">
         </attrib>
         <attrib
               name="description">
         </attrib>
         <attrib
               name="scope">
         </attrib>
         <attrib
               name="jndi-name">
         </attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="security-role"
            scope="type">
            <attrib
               use="required"
               name="role-name">
         	</attrib>
         	<attrib
               name="description">
         	</attrib>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="env-entry"
            scope="type">
            <attrib name="name" use="required">
            </attrib>
            <attrib name="description"/>
            <attrib name="type" type="enum">
            	<enumValues value="java.lang.Boolean"/>
            	<enumValues value="java.lang.Byte"/>
				<enumValues value="java.lang.Character"/>
				<enumValues value="java.lang.String"/>
				<enumValues value="java.lang.Short"/>
				<enumValues value="java.lang.Integer"/>
				<enumValues value="java.lang.Long"/>
				<enumValues value="java.lang.Float"/>
				<enumValues value="java.lang.Double"/>
			</attrib>
            <attrib name="value"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="ejb-ref"
            scope="type">
          <attrib name="name" use="required"/>
          <attrib name="type" type="enum" use="required">
          	<enumValues value="Entity"/>
          	<enumValues value="Session"/>
          </attrib>
          <attrib name="home" use="required"/>
          <attrib name="remote" use="required"/>
          <attrib name="link"/>
          <attrib name="description"/>
      </AnnotationTagInfo>
      <AnnotationTagInfo
            tagSet="web"
            tagName="ejb-local-ref"
            scope="type">
            <attrib name="name" use="required"/>
          <attrib name="type" type="enum" use="required">
          	<enumValues value="Entity"/>
          	<enumValues value="Session"/>
          </attrib>
          <attrib name="home" use="required"/>
          <attrib name="local" use="required"/>
          <attrib name="link"/>
          <attrib name="description"/>
      </AnnotationTagInfo>      
   </extension>


   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.editModel">
      <editModel
            editModelID="jst.web"
            factoryClass="org.eclipse.jst.common.jdt.internal.integration.JavaArtifactEditModelFactory">
         <editModelResource
               autoload="false"
               URI="WEB-INF/web.xml"/>
      </editModel>
   </extension>
   
   <extension
         point="org.eclipse.wst.common.modulecore.artifactedit">
      <artifactedit
            typeID="jst.web"
            class="org.eclipse.jst.j2ee.web.componentcore.util.WebArtifactEdit">
      </artifactedit>
   </extension> 
   
   <!--============================-->
   <!-- Builder Provider registrations-->
   <!--============================-->
	<extension
         point="org.eclipse.wst.common.frameworks.DataModelProviderExtension">
     	<ProviderDefinesType
      		providerType="jst.web.builder"
      		providerID="org.eclipse.jst.j2ee.internal.deployables.JavaComponentBuilderDataModelProvider"/>
	</extension>
	
  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
      class="org.eclipse.jst.j2ee.internal.web.classpath.WebAppContainerInitializer"
      id="org.eclipse.jst.j2ee.internal.web.container"/>
  </extension>
	
</plugin>
