<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin 
   id="org.eclipse.jst.servlet.ui"
   name="WTP Servlet UI Plug-in"
   version="1.0.0"
   provider-name="Eclipse.org"
   description="This plugin contains the UI to create web projects/export projects/import war archives/create servlets and filters."
   class="org.eclipse.jst.servlet.ui.internal.plugin.ServletUIPlugin">

   <runtime>
      <library name="servletui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jst.j2ee.ui"/>
      <import plugin="org.eclipse.wst.common.frameworks.ui"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.jst.j2ee"/>
      <import plugin="org.eclipse.emf.edit"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.jst.j2ee.core"/>
      <import plugin="org.eclipse.jst.j2ee.web"/>
      <import plugin="com.ibm.wtp.emf.workbench"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.wst.web"/>
      <import plugin="org.eclipse.wst.common.navigator.workbench"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.wst.common.modulecore"/>
   </requires>
   
<!-- ====================================================== -->
<!--                                                        -->
<!-- Purpose: Extension for the J2EE ACtion Sets            -->
<!-- Extension point: org.eclipse.ui.actionSets             -->
<!-- ====================================================== -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%web.category_ui_"
            description="%web.actions.description_ui_"
            visible="false"
            id="org.eclipse.jst.j2ee.J2eeMainActionSet2">
            <action
               label="%create.web.module_ui_"
               icon="icons/full/ctool16/newwar_wiz.gif"
               tooltip="%create.web.module_ui_"
               class="org.eclipse.jst.servlet.ui.internal.actions.NewWebProjectAction"
               toolbarPath="J2EEMain"
               id="org.eclipse.jst.servlet.ui.internal.actions.NewWebProject">
         </action>
      </actionSet>
	</extension>
    <!--new servlet contribution-->
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%ServletWebRegionWizard.name"
            icon="icons/full/ctool16/newservlet_wiz.gif"
            category="org.eclipse.wst.web.ui"
            class="org.eclipse.jst.servlet.ui.internal.wizard.AddServletWizard"
            id="org.eclipse.jst.servlet.ui.internal.wizard.AddServletWizard">
         <description>
            %ServletWebRegionWizard.description
         </description>
      </wizard>
   </extension>
   
    <extension
         point="org.eclipse.wst.common.navigator.workbench.commonWizard">
          <commonWizard
            type="new"
            wizardId="org.eclipse.jst.servlet.ui.internal.wizard.AddServletWizard">
         <enablement>
            <or> 
            	 <objectClass
                    name="org.eclipse.jst.j2ee.internal.war.ui.util.WebServletGroupItemProvider">
               	 </objectClass>
               	 <objectClass
                    name="org.eclipse.jst.j2ee.webapplication.WebApp">
               	 </objectClass>
               	 <and>
               	   <objectClass
	                     name="org.eclipse.core.resources.IProject">
	               </objectClass>
	               <objectState
                        name="projectNature"
                        value="org.eclipse.jst.j2ee.web.WebNature">
                   </objectState>
               	 </and>
            </or>
         </enablement>
       </commonWizard>
      </extension> 
      
   <extension
         point="org.eclipse.ui.importWizards">
    <wizard
            name="%WarImportWizard.name"
            icon="icons/full/ctool16/importwar_wiz.gif"
            class="org.eclipse.jst.servlet.ui.WebModuleImportWizard"
            id="org.eclipse.jst.servlet.ui.WebModuleImportWizard">
         <description>
            %WarImportWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      
    </extension>
  
  <extension
         point="org.eclipse.ui.exportWizards">
    <wizard
            name="%WarexportWizard.name"
            icon="icons/full/ctool16/exportwar_wiz.gif"
            class="org.eclipse.jst.servlet.ui.WebModuleExportWizard"
            id="org.eclipse.jst.servlet.ui.WebModuleExportWizard">
         <description>
            %WarexportWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
    </extension>
    

   <extension
         point="org.eclipse.wst.common.frameworks.ui.extendableWizard">
      <extendableWizard
            id="org.eclipse.jst.servlet.ui.WebModuleCreationWizard">
      </extendableWizard>
   </extension>
   <extension
		point="org.eclipse.ui.actionSets">
		<actionSet
			label="%ConvertWebProjectType"
			description="%ConvertWebProjectType"
			visible="true"
			id="org.eclipse.jst.servlet.ui.internal.actions.ConvertToWebModuleTypeActionSet">
			<action
				label="%convertWebProjectTypeAction.label"
				tooltip="%ConvertWebProjectTypeAction.tooltip"
				menubarPath="project/additions"
				class="org.eclipse.jst.servlet.ui.internal.actions.ConvertToWebModuleTypeAction"
				enablesFor="1"
				id="convertToWebModuleTypeAction">   
				<enablement>
					<and>
						<objectClass name="org.eclipse.core.resources.IProject"/>
						<objectState name="nature" value="org.eclipse.wst.web.StaticWebNature"/>
					</and>
				</enablement>            
			</action>
		</actionSet>
	</extension>
	
	<extension
         point="org.eclipse.wst.common.navigator.workbench.commonWizard">
          <!-- Web New -->
        <commonWizard
            type="new"
            wizardId="org.eclipse.jst.servlet.ui.WebModuleCreationWizard">
         <enablement>
         <or>
               <objectClass
	                  name="org.eclipse.core.resources.IWorkspaceRoot">
	           </objectClass>
               <and>
            	   <objectClass
                     name="org.eclipse.wst.common.navigator.internal.groups.NavigatorGroup">
               	   </objectClass>
               	   <objectState
                        name="projectNature"
                        value="org.eclipse.jst.j2ee.web.WebNature">
                  </objectState>
                </and>
                <and>
                   <objectClass
	                     name="org.eclipse.core.resources.IProject">
	               </objectClass>
	               <or>
	                  <objectState
	                        name="projectNature"
	                        value="org.eclipse.jst.j2ee.EARNature">
	                  </objectState>
	               </or> 
                </and> 
                <objectClass
                 name="org.eclipse.jst.j2ee.internal.application.impl.ModuleImpl">
           	   </objectClass>
           	   <objectClass
                 name="org.eclipse.jst.j2ee.internal.application.impl.ApplicationImpl">
           	   </objectClass>
           	    <objectClass
                 name="org.eclipse.jst.j2ee.internal.provider.ModulesItemProvider">
           	   </objectClass>
            </or>
         </enablement>
       </commonWizard>
       <!-- Web Import -->
        <commonWizard
            type="import"
            wizardId="org.eclipse.jst.servlet.ui.WebModuleImportWizard">
         <enablement>
          <or>
               <objectClass
	                  name="org.eclipse.core.resources.IWorkspaceRoot">
	           </objectClass>
               <and>
            	   <objectClass
                     name="org.eclipse.wst.common.navigator.internal.groups.NavigatorGroup">
               	   </objectClass>
               	   <objectState
                        name="projectNature"
                        value="org.eclipse.jst.j2ee.web.WebNature">
                  </objectState>
                </and>
                <and>
                   <objectClass
	                     name="org.eclipse.core.resources.IProject">
	               </objectClass>
	               <or>
	                  <objectState
	                        name="projectNature"
	                        value="org.eclipse.jst.j2ee.EARNature">
	                  </objectState>
	                  <objectState
	                        name="projectNature"
	                        value="org.eclipse.jst.j2ee.web.WebNature">
	                  </objectState>
	               </or> 
                </and> 
                <objectClass
                     name="org.eclipse.jst.j2ee.internal.webapplication.impl.WebAppImpl">
                </objectClass>
                  <objectClass
                     name="org.eclipse.jst.j2ee.internal.war.ui.util.WebGroupItemProvider">
                </objectClass>     
                <objectClass
                 name="org.eclipse.jst.j2ee.internal.application.impl.ApplicationImpl">
           	   </objectClass>
           	    <objectClass
                 name="org.eclipse.jst.j2ee.internal.provider.ModulesItemProvider">
           	   </objectClass>
           	   <objectClass
                 name="org.eclipse.jst.j2ee.internal.application.impl.ModuleImpl">
           	   </objectClass>
         </or>
       </enablement>
       </commonWizard>
       <!-- Web Export -->
        <commonWizard
            type="export"
            wizardId="org.eclipse.jst.servlet.ui.WebModuleExportWizard">
         <enablement>
         <or>
            <and>
               <or>
               <objectClass
                     name="org.eclipse.wst.common.navigator.internal.groups.NavigatorGroup">
               </objectClass>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               </or>
               <or>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jst.j2ee.web.WebNature">
                  </objectState>
               </or>
            </and>      
              <objectClass
                     name="org.eclipse.jst.j2ee.internal.webapplication.impl.WebAppImpl">
                </objectClass>      
                <objectClass
                     name="org.eclipse.jst.j2ee.internal.war.ui.util.WebGroupItemProvider">
                </objectClass>     
                
            </or>
         </enablement>
       </commonWizard>
        <!-- Import Classes Wizard -->
        <commonWizard
            type="import"
            wizardId="org.eclipse.jst.j2ee.internal.wizard.ClassesImportWizard">
         <enablement>
            <or>
	            <objectClass
                     name="org.eclipse.jst.j2ee.internal.webapplication.impl.WebAppImpl">
                </objectClass>  
                 <objectClass
                     name="org.eclipse.jst.j2ee.internal.war.ui.util.WebGroupItemProvider">
                </objectClass>     
            </or>
         </enablement>
       </commonWizard>
    </extension>
	
</plugin>
