<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jst.servlet.ui"
   name="WTP Servlet UI Plug-in"
   version="1.0.0"

   class="org.eclipse.jst.servlet.ui.internal.plugin.ServletUIPlugin">

   <runtime>
      <library name="servletui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jst.j2ee.ui"/>
      <import plugin="org.eclipse.wst.common.frameworks.ui"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.wst.common.navigator.views"/>
      <import plugin="org.eclipse.jst.j2ee"/>
      <import plugin="org.eclipse.emf.edit"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.jst.j2ee.core"/>
      <import plugin="org.eclipse.jst.j2ee.web"/>
      <import plugin="com.ibm.wtp.emf.workbench"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>
   
<!-- Web Project Wizard -->
    <extension
         id="J2EEUIProjectWizards"
         point="org.eclipse.ui.newWizards">
      <category
            name="%web.category_ui_"
            id="org.eclipse.jst.servlet.ui.internal">
      </category>
      <wizard
            name="%web.project_ui_"
            icon="icons/full/ctool16/newwar_wiz.gif"
            category="org.eclipse.jst.servlet.ui.internal"
            class="org.eclipse.jst.servlet.ui.internal.wizard.WEBProjectWizard"
            project="true"
            finalPerspective="org.eclipse.jst.j2ee.J2EEPerspective"
            id="org.eclipse.jst.servlet.ui.internal.wizard.WEBProjectWizard">
         <description>
            %new.web.project.description_ui_
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
    </extension>
      
   <extension
         point="org.eclipse.ui.importWizards">
    <wizard
            name="%WarImportWizard.name"
            icon="icons/full/ctool16/importwar_wiz.gif"
            class="org.eclipse.jst.servlet.ui.internal.wizard.WARImportWizard"
            id="org.eclipse.jst.servlet.ui.internal.wizard.WARImportWizard">
         <description>
            %WarImportWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      
    </extension>
  
  <extension
         point="org.eclipse.ui.exportWizards">
    <wizard
            name="%WarexportWizard.name"
            icon="icons/full/ctool16/exportwar_wiz.gif"
            class="org.eclipse.jst.servlet.ui.internal.wizard.WARExportWizard"
            id="org.eclipse.jst.servlet.ui.internal.wizard.WARExportWizard">
         <description>
            %WarexportWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
    </extension>
    
<!-- WEB Group Contributions -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.wst.common.framework.navigator.NavigatorGroup"
            id="org.eclipse.jst.j2ee.internal.ui.navigator.webProjectActions">
         <action
               label="%web.project_ui_"
               icon="icons/full/ctool16/newwar_wiz.gif"
               class="org.eclipse.jst.servlet.ui.internal.actions.NewWebProjectAction"
               menubarPath="org.eclipse.wst.common.framework.navigator.new.menu/additions"
               enablesFor="1"
               id="org.eclipse.jst.servlet.ui.internal.actions.NewWebProjectAction">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.eclipse.jst.j2ee.web.WebNature">
            </objectState>
         </visibility>
      </objectContribution>
   
      <objectContribution
            objectClass="org.eclipse.wst.common.framework.navigator.NavigatorGroup"
            id="org.eclipse.jst.j2ee.internal.ui.navigator.webProjectActions">
         <action
               label="%WarImportWizard.name"
               icon="icons/full/ctool16/importwar_wiz.gif"
               class="org.eclipse.jst.servlet.ui.internal.actions.ImportWARAction"
               menubarPath="org.eclipse.wst.common.framework.navigator.import.menu/additions"
               enablesFor="1"
               id="org.eclipse.jst.servlet.ui.internal.actions.ImportWARAction">
         </action>
         <action
               label="%WarexportWizard.name"
               icon="icons/full/ctool16/exportwar_wiz.gif"
               class="org.eclipse.jst.servlet.ui.internal.actions.ExportWARAction"
               menubarPath="org.eclipse.wst.common.framework.navigator.export.menu/additions"
               enablesFor="1"
               id="org.eclipse.jst.servlet.ui.internal.actions.ExportWARAction">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.eclipse.jst.j2ee.web.WebNature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension> 
   
   <extension
         point="org.eclipse.wst.common.frameworks.ui.extendableWizard">
      <extendableWizard
            id="org.eclipse.jst.servlet.ui.internal.wizard.WEBProjectWizard">
      </extendableWizard>
   </extension>
      
</plugin>
