<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin 
   id="org.eclipse.jst.j2ee.webservices.ui"
   name="WTP Webservice UI Plug-in"
   version="1.0.0"
   provider-name="Eclipse.org"
   description="This plugin contains the UI to create and display web service artifacts."
   class="org.eclipse.jst.j2ee.internal.webservice.plugin.WebServiceUIPlugin">
   <runtime>
      <library name="webserviceui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jst.j2ee.ui"/>
      <import plugin="org.eclipse.wst.common.frameworks.ui"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.jst.j2ee"/>
      <import plugin="org.eclipse.emf.edit"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.jst.j2ee.core"/>
      <import plugin="org.eclipse.jst.j2ee.web"/>
      <import plugin="org.eclipse.emf.edit.ui"/>
      <import plugin="com.ibm.wtp.emf.workbench"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.wst.common.emf"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.wst.common.navigator.workbench"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jst.j2ee.webservice"/>
      <import plugin="org.eclipse.wst.wsdl"/>
      <import plugin="org.eclipse.wst.internet.webbrowser"/>
      <import plugin="org.eclipse.jst.common.navigator.java"/>
      <import plugin="org.eclipse.wst.common.navigator.views"/>
   </requires>
   
   <extension
         point="org.eclipse.wst.common.navigator.views.navigatorContent">
      <navigatorContent
            name="Web Services"
            priority="low"
            icon="icons/webgroup_obj.gif"
            contentProvider="org.eclipse.jst.j2ee.internal.webservice.WebServicesNavigatorContentProvider"
            labelProvider="org.eclipse.jst.j2ee.internal.webservice.WebServicesNavigatorLabelProvider"
            openListener="org.eclipse.jst.j2ee.internal.webservice.WebServicesNavigatorGroupOpenListener"
            id="org.eclipse.wst.common.frameworks.internal.navigator.webservice"
            >
         <enables>
            <or>
               <objectClass
                     name="org.eclipse.jst.j2ee.internal.webservice.WebServiceNavigatorGroup">
               </objectClass>
               <objectClass
                     name="org.eclipse.jst.j2ee.webservice.wsdd.WebServiceDescription">
               </objectClass>
               <objectClass
               		name="org.eclipse.jst.j2ee.internal.webservice.WebServiceNavigatorGroupType">
               </objectClass>
               <objectClass
                     name="org.eclipse.wst.wsdl.internal.util.WSDLResourceImpl">
               </objectClass>
            </or>
         </enables>
         <emfEnablement>
         	<package uri="wsdd.xmi" />                 	
         	<package uri="webservice_client.xmi" />           	         	
         	<package uri="wscommon.xmi" />
         	<package uri="http://www.ibm.com/wsdl/2003/WSDL"/>
         </emfEnablement>
      </navigatorContent>
   </extension>

   
   <!-- J2EE View Web Services contribution -->
   
   <extension
         point="org.eclipse.wst.common.navigator.views.navigatorViewer">
      <navigatorViewer
            rootContentExtensionId="org.eclipse.wst.common.frameworks.internal.navigator.webservice"
            viewerId="org.eclipse.wst.navigator.ui.WTPCommonNavigator">
      </navigatorViewer>
   </extension>
	
</plugin>
