<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jst.j2ee.webservice"
   name="Web Service Plug-in"
   version="1.0.0"
   provider-name="IBM"
   class="org.eclipse.jst.j2ee.internal.webservice.plugin.WebServicePlugin">

   <runtime>
      <library name="webservice.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jst.j2ee"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="com.ibm.wtp.emf.workbench"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.jst.j2ee.core"/>
      <import plugin="org.eclipse.wst.common.emf"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.emf.edit"/>
      <import plugin="org.eclipse.jem"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jface"/>
   </requires>


<!--  Dyanmic Content Provider extensions -->
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.adapterFactory">
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientItemProviderAdapterFactory"
            packageURI="webservice_client.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientItemProviderAdapterFactory">
      </adapterFactory>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.adapterFactory">
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.WscommonItemProviderAdapterFactory"
            packageURI="wscommon.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.provider.WscommonItemProviderAdapterFactory">
      </adapterFactory>
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientEditorItemProviderFactory"
            packageURI="client.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientItemProviderAdapterFactoryForClient">
      </adapterFactory>
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientEditorItemProviderFactory"
            packageURI="webservice_client.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.wsclient.provider.Webservice_clientItemProviderAdapterFactoryForWSClient">
      </adapterFactory>
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientEditorItemProviderFactory"
            packageURI="ejb.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.wsclient.provider.Webservice_clientItemProviderAdapterFactoryForEJB">
      </adapterFactory>
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.Webservice_clientEditorItemProviderFactory"
            packageURI="webapplication.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.wsclient.provider.Webservice_clientItemProviderAdapterFactoryForWEB">
      </adapterFactory>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.adapterFactory">
      <adapterFactory
            functionGroupID="org.eclipse.jst.j2ee"
            className="org.eclipse.jst.j2ee.internal.webservice.provider.WsddItemProviderAdapterFactory"
            packageURI="wsdd.xmi"
            id="org.eclipse.jst.j2ee.internal.webservice.provider.WsddItemProviderAdapterFactory">
      </adapterFactory>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.editModelExtension">
      <editModelExtension
            editModelID="org.eclipse.jst.j2ee.applicationClient.editModel"
            id="com.ibm.wtp.webservices.appclient.editModelextension">
         <editModelResource
               URI="META-INF/webservicesclient.xml">
         </editModelResource>
      </editModelExtension>
   </extension>

<!-- ========================================================================== -->
<!-- @deprecated: Extension point: org.eclipse.jst.j2ee.internal.webservice.atk.ui.webserviceseditmodel -->
<!-- ========================================================================== -->
   <extension-point id="webserviceseditmodelcontainer" name="%EDITOR_EDITMODELS_WEB_SERVICES"/>
<!-- ========================================================================== -->
<!-- @deprecated: Extension point: org.eclipse.jst.j2ee.internal.webservice.atk.ui.webservicesclienteditmodel -->
<!-- ========================================================================== -->
   <extension-point id="webservicesclienteditmodelcontainer" name="%EDITOR_EDITMODELS_WEB_SERVICES_CLIENT"/>


   <extension
         point="org.eclipse.jst.j2ee.webservice.webserviceseditmodelcontainer">
      <webserviceseditmodelcontainer
            name="%WSDD_EDIT_MODEL_NAME"
            class="org.eclipse.jst.j2ee.internal.webservice.editmodel.WsddEditModel"
            descriptorName="webservices.xml"
            id="org.eclipse.jst.j2ee.internal.webservice.editmodel.WsddEditModel">
      </webserviceseditmodelcontainer>
   </extension>
   <extension
         point="org.eclipse.jst.j2ee.webservice.webservicesclienteditmodelcontainer">
      <webservicesclienteditmodelcontainer
            name="%WSCDD_EDIT_MODEL_NAME"
            class="org.eclipse.jst.j2ee.internal.webservice.editmodel.WscddEditModel"
            descriptorName="webservicesclient.xml"
            id="org.eclipse.jst.j2ee.internal.webservice.editmodel.WscddEditModel">
      </webservicesclienteditmodelcontainer>
   </extension>
</plugin>
