<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!--================================-->
<!-- EJB Creation Wizard Contributions   -->
<!--================================-->

   <extension
         id="org.eclipse.jst.j2ee.ejb.ui.wizards"
         point="org.eclipse.ui.newWizards">
       <category
            name="EJB"
            id="org.eclipse.jst.ejb.ui">
      </category>
      <wizard
            name="%ejb.createbean_ui_"
            icon="icons/full/ctool16/newejb_wiz.gif"
            category="org.eclipse.jst.ejb.ui"
            class="org.eclipse.jst.j2ee.ejb.annotation.ui.internal.wizards.AddEjbWizard"
            id="org.eclipse.jst.j2ee.ejb.annotation.ui.internal.wizards.AddEjbWizard">
         <description>
            %new.ejb.description_ui_
         </description>
      </wizard>
   </extension>
   
    <extension
         point="org.eclipse.wst.common.navigator.workbench.commonWizard">
          <commonWizard
            type="new"
            wizardId="org.eclipse.jst.j2ee.ejb.annotation.ui.internal.wizards.AddEjbWizard">
         <enablement>
         <or>
            <and>
	               <objectClass
	                     name="org.eclipse.core.resources.IProject">
	               </objectClass>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </objectState>
            </and>            
            </or>
         </enablement>
       </commonWizard>
      </extension> 
<!--================================-->
<!-- ANNOTATION PREFERENCES   -->
<!--================================-->

<!-- Not used anymore
   <extension
         point="org.eclipse.ui.preferencePages">
     <page
            name="%j2ee_annotations"
             class="org.eclipse.jst.j2ee.ejb.annotation.ui.internal.preferences.AnnotationPreferencePage"
            id="org.eclipse.jst.j2ee.ejb.annotation.ui.preferences">
      </page>
 
    </extension>
-->
<!-- =========== org.eclipse.jst.j2ee.internal.J2EEAnnotationPropertiesPage ============ -->

<!--
	<extension point="org.eclipse.ui.propertyPages">
       <page
            objectClass="org.eclipse.core.resources.IProject"
            name="%J2EEAnnotationPropertiesPage.name"
            class="org.eclipse.jst.j2ee.ejb.annotation.ui.internal.preferences.AnnotationPreferencePage"
            id="J2EEAnnotationPropertiesPage">
         <filter
               name="nature"
               value="org.eclipse.wst.common.modulecore.ModuleCoreNature">
         </filter>
      </page>

      <page
            objectClass="org.eclipse.jdt.core.IJavaProject"
            name="%J2EEAnnotationPropertiesPage.name"
            class="org.eclipse.jst.j2ee.ejb.annotation.ui.internal.preferences.AnnotationPreferencePage"
            id="J2EEAnnotationPropertiesPage">
         <filter
               name="nature" 
               value="org.eclipse.wst.common.modulecore.ModuleCoreNature">
         </filter>
      </page> 
   </extension>    
-->  
</plugin>
