<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="jeeModelExtension" name="JEE Model Extension" schema="schema/jeeModelExtension.exsd"/>

	<!--J EE5  -->
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
         
    <project-facet-version facet="jst.ear" version="5.0">
      <constraint>
        <and>
          <conflicts group="modules"/>
          <conflicts facet="jst.java"/>
        </and>
      </constraint>
      <group-member id="modules"/>     
             
    </project-facet-version>

    <action facet="jst.ear" version="5.0" type="INSTALL" id="jst.ear#5.0#install">
      		<delegate class="org.eclipse.jst.jee.project.facet.EarFacetInstallDelegate"/>
    </action>
      
    <event-handler facet="jst.ear" version="5.0" type="POST_INSTALL">
      		<delegate class="org.eclipse.jst.jee.project.facet.EarFacetPostInstallDelegate"/>
    </event-handler>  
         
         
    <project-facet-version facet="jst.appclient" version="5.0">
      <constraint>
        <and>
          <requires facet="jst.java" version="[5.0"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>     
	  
         
    </project-facet-version>
        
    <action type="install" facet="jst.appclient" version="5.0" id="jst.appclient#5.0#install">
      		<delegate class="org.eclipse.jst.jee.project.facet.AppClientFacetInstallDelegate"/>
    </action>
	  
    <event-handler type="POST_INSTALL" facet="jst.appclient" version="5.0">
      		<delegate class="org.eclipse.jst.jee.project.facet.AppClientFacetPostInstallDelegate"/>
    </event-handler>
    
   </extension>
   
   <extension
        point="org.eclipse.wst.common.modulecore.resourceFactories">
     <resourceFactory
           class="org.eclipse.jst.javaee.web.internal.util.WebResourceFactoryImpl"
           isDefault="false"
           shortSegment="web.xml">
        <contentTypeBinding
              contentTypeId="org.eclipse.jst.jee.ee5webDD">
        </contentTypeBinding>
     </resourceFactory>
     <resourceFactory
           class="org.eclipse.jst.javaee.ejb.internal.util.EjbResourceFactoryImpl"
           isDefault="false"
           shortSegment="ejb-jar.xml">
        <contentTypeBinding
              contentTypeId="org.eclipse.jst.jee.ee5ejbDD">
        </contentTypeBinding>
     </resourceFactory>
     <resourceFactory
           class="org.eclipse.jst.javaee.applicationclient.internal.impl.ApplicationclientFactoryImpl"
           isDefault="false"
           shortSegment="application-client.xml">
        <contentTypeBinding
              contentTypeId="org.eclipse.jst.jee.ee5appclientDD">
        </contentTypeBinding>
     </resourceFactory>
     <resourceFactory
           class="org.eclipse.jst.javaee.application.internal.util.ApplicationResourceFactoryImpl"
           isDefault="false"
           shortSegment="application.xml">
        <contentTypeBinding
              contentTypeId="org.eclipse.jst.jee.ee5earDD">
        </contentTypeBinding>
     </resourceFactory>
  </extension>
  
  <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://java.sun.com/xml/ns/javaee"
            class="org.eclipse.jst.javaee.core.internal.metadata.JavaeePackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://java.sun.com/xml/ns/javaee/ejb"
            class="org.eclipse.jst.javaee.ejb.internal.metadata.EjbPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://java.sun.com/xml/ns/javaee/applicationclient"
            class="org.eclipse.jst.javaee.applicationclient.internal.metadata.ApplicationclientPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://java.sun.com/xml/ns/javaee/application"
            class="org.eclipse.jst.javaee.application.internal.metadata.ApplicationPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://java.sun.com/xml/ns/javaee/web"
            class="org.eclipse.jst.javaee.web.internal.metadata.WebPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://java.sun.com/xml/ns/javaee/jsp"
            class="org.eclipse.jst.javaee.jsp.internal.metadata.JspPackage">
      </package>
   </extension>

  <extension
         point="org.eclipse.wst.server.core.moduleFactories">
      <moduleFactory
            projects="true"
            class="org.eclipse.jst.jee.internal.deployables.JEEDeployableFactory"
            id="org.eclipse.jst.jee.server">
         <moduleType
               types="jst.ear"
               versions="5.0">
         </moduleType>
         <moduleType
               types="jst.appclient"
               versions="5.0">
         </moduleType>
         <moduleType
               types="jst.web"
               versions="2.5">
         </moduleType>
         <moduleType
               types="jst.ejb"
               versions="3.0">
         </moduleType>
      </moduleFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-names="ejb-jar.xml"
            id="ee5ejbDD"
            base-type="org.eclipse.core.runtime.xml"
            name="%ee5ejbContentType"
            priority="high">
         <describer
               class="org.eclipse.jst.jee.contenttype.JEEContentDescriber">
         </describer>
      </content-type>
  	</extension>   
  	
  	 <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-names="web.xml"
            id="ee5webDD"
            base-type="org.eclipse.core.runtime.xml"
            name="%ee5webContentType"
            priority="high">
         <describer
               class="org.eclipse.jst.jee.contenttype.JEEContentDescriber">
         </describer>
      </content-type>
  	</extension>   
  	
  	 <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-names="application.xml"
            id="ee5earDD"
            base-type="org.eclipse.core.runtime.xml"
            name="%ee5earContentType"
            priority="high">
         <describer
               class="org.eclipse.jst.jee.contenttype.JEEContentDescriber">
         </describer>
      </content-type>
  	</extension>   
  	
  	
  	 <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-names="application-client.xml"
            id="ee5appclientDD"
            base-type="org.eclipse.core.runtime.xml"
            name="%ee5appclientContentType"
            priority="high">
         <describer
               class="org.eclipse.jst.jee.contenttype.JEEContentDescriber">
         </describer>
      </content-type>
  	</extension>   
  	  
</plugin>
