<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!--J EE5 
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
         
    <project-facet-version facet="jst.ear" version="5.0">
      <constraint>
        <and>
          <conflicts group="modules"/>
          <conflicts facet="jst.java"/>
        </and>
      </constraint>
      <group-member id="modules"/>     
      <action type="INSTALL">
      		<delegate class="org.eclipse.jst.jee.project.facet.Ear5FacetInstallDelegate"/>
      		<config-factory class="org.eclipse.jst.j2ee.internal.earcreation.EarFacetInstallDataModelProvider"/>
	  </action>
      
   	  <event-handler type="POST_INSTALL">
      		<delegate class="org.eclipse.jst.jee.project.facet.Ear5FacetPostInstallDelegate"/>
      </event-handler>  
       
    </project-facet-version>
         
   </extension>  -->

</plugin>
