<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jst.j2ee.tests"
   name="J2EE Tests Plug-in"
   version="0.7.0"
   class="org.eclipse.wtp.j2ee.headless.tests.plugin.HeadlessTestsPlugin">

   <runtime>
      <library name="j2ee-tests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.commands"/>
      <import plugin="org.eclipse.jst.common.frameworks"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.jst.j2ee.core"/>
      <import plugin="org.eclipse.jst.j2ee.web"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.jst.j2ee"/>
      <import plugin="org.eclipse.wst.common.modulecore"/>
      <import plugin="org.eclipse.jst.j2ee.ejb"/>
      <import plugin="org.eclipse.jst.j2ee.jca"/>
      <import plugin="org.eclipse.wst.common.tests"/>
      <import plugin="org.eclipse.wst.server.core"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.wst.common.emf"/>
      <import plugin="org.eclipse.jst.j2ee.webservice"/>
      <import plugin="org.eclipse.jem.util"/>
      <import plugin="org.eclipse.jdt.core"/>
   </requires>
   <extension
         point="org.eclipse.wst.common.tests.collector.suites">
      <suite
            class="org.eclipse.wtp.j2ee.headless.tests.web.operations.AllTests"
            name="Web Operations"/>
      <suite
            class="org.eclipse.jst.j2ee.core.tests.bvt.AutomatedBVT"
            name="J2EE Headless BVT Tests"/>
      <suite
            class="org.eclipse.wtp.headless.tests.savestrategy.AllTests"
            name="SaveStrategy Tests"/>
      <suite
            class="org.eclipse.jst.j2ee.defect.tests.DefectVerificationTestsSuite"
            name="J2EE Defect Verification Tests"/>
            
   </extension>
   

</plugin>
