<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.jem.ui"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.jem.internal.ui.core.JEMUIPlugin">

   <runtime>
      <library name="ui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jem.beaninfo"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.jem.proxy"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="com.ibm.wtp.common.util"/>
      <import plugin="org.eclipse.jem.workbench"/>
   </requires>


   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            label="%proxyLaunchGroup.label"
            bannerImage="icons/full/wizban/run_wiz.gif"
            category="org.eclipse.jem.proxy"
            image="icons/full/ctool16/run_exc.gif"
            mode="run"
            id="org.eclipse.jem.proxy">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/ctool16/run_exc.gif"
            configTypeID="org.eclipse.jem.proxy.LocalProxyLaunchConfigurationType"
            id="org.eclipse.jem.proxy.launchConfigurationTypeImage.localProxy">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.jem.proxy.LocalProxyLaunchConfigurationType"
            class="org.eclipse.jem.internal.ui.proxy.remote.LocalLaunchTabGroup"
            id="org.eclipse.jem.ui.remote.LocalLaunchTabGroup1">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%ActionSet.proxyTools"
            description="%ActionSet.proxyTools.Description"
            id="org.eclipse.jem.ui.ProxyToolsSet">
         <menu
               label="%Menu.run"
               path="additions"
               id="org.eclipse.ui.run">
         </menu>
         <action
               label="%Action.proxyLaunch"
               pulldown="true"
               icon="icons/full/ctool16/run_exc.gif"
               tooltip="%Action.proxyLaunchTip"
               class="org.eclipse.jem.internal.ui.proxy.ProxyLaunchToolbarDelegate"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/proxyLaunch"
               id="org.eclipse.jem.ui.proxy.ProxyLaunchToolbarDelegateAction">
         </action>
         <action
               label="%Action.selectDefault"
               class="org.eclipse.jem.internal.ui.proxy.SelectDefaultConfigurationActionDelegate"
               menubarPath="org.eclipse.ui.run/"
               enablesFor="1"
               id="org.eclipse.jem.ui.proxy.SelectDefaultMenuDelegateAction">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.core.IJavaProject">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               label="%Action.proxyLaunch"
               icon="icons/full/ctool16/run_exc.gif"
               tooltip="%Action.proxyLaunchTip"
               class="org.eclipse.jem.internal.ui.proxy.ProxyLaunchMenuDelegate"
               menubarPath="org.eclipse.ui.run/"
               id="org.eclipse.jem.ui.proxy.ProxyLaunchMenuDelegateAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.eclipse.jem.ui.select.default.objectcontibution">
         <action
               label="%Action.selectDefault"
               class="org.eclipse.jem.internal.ui.proxy.SelectDefaultConfigurationActionDelegate"
               enablesFor="1"
               id="org.eclipse.jem.ui.select.object.action">
         </action>
         <visibility>
            <objectState
                  name="persistentProperty"
                  value="org.eclipse.jem.proxy.proxyLaunchConfiguration">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="%BeaninfoPath_Title_UI_"
            class="org.eclipse.jem.internal.beaninfo.ui.BeaninfosPropertyPage"
            id="BeaninfoPropertiesPage">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
      <page
            objectClass="org.eclipse.jdt.core.IJavaProject"
            name="%BeaninfoPath_Title_UI_"
            class="org.eclipse.jem.internal.beaninfo.ui.BeaninfosPropertyPage"
            id="BeaninfoPropertiesPage">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editors.OverrideEditor"
            extensions="override"
            icon="icons/full/obj16/file_obj.gif"
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            id="org.eclipse.jem.beaninfo.OverrideEditor">
      </editor>
   </extension>

</plugin>
