<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.wtp.common.util"
   name="Logging Plug-in"
   version="1.0.1"
   provider-name="IBM"
   class="com.ibm.wtp.common.util.WTPCommonUtilPlugin">

   <runtime>
      <library name="util.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.perfmsr.core" optional="true"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension-point id="uiContextSensitiveClass" name="UI Context Sensitive Class" schema="schema/uiContextSensitiveClass.exsd"/>
   <extension-point id="uiTester" name="UI Tester" schema="schema/uiTester.exsd"/>

</plugin>
