<% CreateListenerTemplateModel model = (CreateListenerTemplateModel) argument; 
if (model.getJavaPackageName()!=null && model.getJavaPackageName()!="") { %>package <%=model.getJavaPackageName()%>;<%}%>

<% Collection<String> imports = model.getImports();
for (String anImport : imports) { %>
import <%=anImport%>;
<% } %>

/**
 * Application Lifecycle Listener implementation class <%=model.getClassName()%>
 *
 */