<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 	
          
    <!--EJB3  -->

   <extension
        point="org.eclipse.jst.j2ee.J2EEModelProvider">
      	<provider>
            	<modelProvider factoryClass="org.eclipse.jst.jee.model.internal.Ejb3MergedModelProviderFactory"/>
<!--	<modelProvider factoryClass="org.eclipse.jst.jee.model.internal.Ejb3ModelProviderFactory"/>-->		

      		<facet id="jst.ejb" versions="3.0,3.1"/>
      	</provider>
   </extension>
</plugin>
