<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   
<!-- build-level = "20030806_1713SL" *** With fix 10028 merged in. -->
    <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="event.xmi"
            class="com.ibm.etools.emf.event.impl.EventPackageImpl">
      </package>
   </extension>

</plugin>
