<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<?NLS TYPE="org.eclipse.help.contexts"?>

<!-- ================================================= -->
<!-- This is the plugin for declaring the help         -->
<!-- contributions for the j2ee.doc component       -->
<!-- ================================================= -->

<plugin>
	
<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc">
       <toc file="ejb_toc.xml" />
   </extension>
   
</plugin>