<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jst.j2ee.core"
   name="J2EE Core Component"
   version="1.0.0"
   provider-name="IBM"
   class="org.eclipse.jst.j2ee.core.internal.plugin.J2EECorePlugin">

   <runtime>
<!-- ejb jars ========================== -->
      <library name="runtime/mofj2ee.jar">
         <export name="*"/>
      </library>
      <library name="runtime/commonArchive.jar">
         <export name="*"/>
      </library>
      <library name="runtime/j2ee-validation.jar">
         <export name="*"/>
      </library>
<!--compatibility jars ========================== -->
      <library name="runtime/j2ee.jar">
         <export name="*"/>
      </library>
      <library name="runtime/j2eeCorePlugin.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jem"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.wst.common.emf"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.wst.validation"/>
   </requires>


   <extension-point id="ejbModelExtender" name="ejbModelExtender"/>

<!--J2EEInit-->
<!--============================-->
<!-- J2EE Core Extension Point Registry-->
<!--============================-->
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="common.xmi"
            class="org.eclipse.jst.j2ee.common.CommonPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="application.xmi"
            class="org.eclipse.jst.j2ee.application.ApplicationPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="client.xmi"
            class="org.eclipse.jst.j2ee.client.ClientPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="webapplication.xmi"
            class="org.eclipse.jst.j2ee.webapplication.WebapplicationPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ejb.xmi"
            class="org.eclipse.jst.j2ee.ejb.EjbPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="jca.xmi"
            class="org.eclipse.jst.j2ee.jca.JcaPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="jsp.xmi"
            class="org.eclipse.jst.j2ee.jsp.JspPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="webservice_client.xmi"
            class="org.eclipse.jst.j2ee.webservice.wsclient.Webservice_clientPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="wscommon.xmi"
            class="org.eclipse.jst.j2ee.webservice.wscommon.WscommonPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="wsdd.xmi"
            class="org.eclipse.jst.j2ee.webservice.wsdd.WsddPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.ibm.com/websphere/appserver/schemas/5.0.2/wscommon.xmi"
            class="org.eclipse.jst.j2ee.webservice.wscommon.WscommonPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.ibm.com/websphere/appserver/schemas/5.0.2/wsdd.xmi"
            class="org.eclipse.jst.j2ee.webservice.wsdd.WsddPackage">
      </package>
   </extension>
<!--ArchiveInit-->
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="commonarchive.xmi"
            class="org.eclipse.jst.j2ee.commonarchivecore.internal.CommonarchivePackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="commonarchive.looseconfig.xmi"
            class="org.eclipse.jst.j2ee.commonarchivecore.internal.looseconfig.LooseconfigPackage">
      </package>
   </extension>
<!-- ====================================================== -->
<!-- a place holder for the future.                         -->
<!-- Several that have not changed are still registered as  -->
<!-- Register package mappings                              -->
<!-- ====================================================== -->
   <extension
         point="org.eclipse.wst.common.emf.packageURIMap">
      <map
            uri="common.xmi"
            prefix="common">
      </map>
      <map
            uri="application.xmi"
            prefix="application">
      </map>
      <map
            uri="client.xmi"
            prefix="client">
      </map>
      <map
            uri="webapplication.xmi"
            prefix="webapplication">
      </map>
      <map
            uri="ejb.xmi"
            prefix="ejb">
      </map>
      <map
            uri="jca.xmi"
            prefix="jca">
      </map>
      <map
            uri="taglib.xmi"
            prefix="taglib">
      </map>
      <map
            uri="jsp.xmi"
            prefix="jsp">
      </map>
      <map
            uri="commonarchive.xmi"
            prefix="commonarchive">
      </map>
      <map
            uri="commonarchive.looseconfig.xmi"
            prefix="commonarchive.looseconfig">
      </map>
   </extension>

</plugin>
