<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="context.Sensitive.Class.workingCopyManager"
         name="Working Copy Manager - Headless Context Class"
         point="org.eclipse.jem.util.uiContextSensitiveClass">
      <uiContextSensitiveClass
            key="workingCopyManager"
            context="Headless"
            className="org.eclipse.jst.common.jdt.internal.integration.WTPWorkingCopyManager">
      </uiContextSensitiveClass>
   </extension>
   
   <extension
        id="javaProjectValidationHandler"
        name="javaProjectValidationHandler"
        point="org.eclipse.wst.common.frameworks.validationSelectionHandler">
      <validationSelectionHandler
        id="javaProjectValidationHandler"
        handlerClass="org.eclipse.jst.common.jdt.internal.integration.JavaProjectValidationHandler"
        selectionType="org.eclipse.jdt.core.IJavaProject"/>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.editModel">
      <editModel
            editModelID="jst.utility"
            factoryClass="org.eclipse.jst.common.jdt.internal.integration.JavaArtifactEditModelFactory">
      </editModel>
   </extension>
        
</plugin>
