<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jst.j2ee.navigator.ui"
   name="%Plugin.name"
   version="1.0.0"
   provider-name="%Plugin.providerName"
   description="%Plugin.description"
   class="org.eclipse.jst.j2ee.navigator.internal.plugin.J2EENavigatorPlugin">

   <runtime>
      <library name="j2ee-navigator.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.wst.common.navigator.views"/>
      <import plugin="org.eclipse.wst.common.navigator.workbench"/>
      <import plugin="org.eclipse.jst.j2ee.core"/>
      <import plugin="org.eclipse.jst.j2ee.ui"/>
      <import plugin="org.eclipse.emf.edit"/>
      <import plugin="org.eclipse.emf.edit.ui"/>
      <import plugin="com.ibm.wtp.emf.workbench"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jst.j2ee"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.jst.j2ee.ejb"/>
      <import plugin="org.eclipse.wst.common.frameworks.ui"/>
      <import plugin="org.eclipse.jst.j2ee.web"/>
      <import plugin="org.eclipse.jst.j2ee.jca"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.wst.common.emf"/>
      <import plugin="org.eclipse.jst.ejb.ui"/>
      <import plugin="org.eclipse.jst.servlet.ui"/>
      <import plugin="org.eclipse.jst.j2ee.jca.ui"/>
      <import plugin="org.eclipse.jst.common.navigator.java"/>
      <import plugin="org.eclipse.jst.common.frameworks"/>
   </requires>
   	
<!--============================-->
<!-- J2EE Filters               -->
<!--============================-->   
   <extension
         point="org.eclipse.wst.common.navigator.views.navigatorContent">
      <navigatorContent
            name="J2EE"
            priority="5"
            icon="icons/J2EEPerspective.gif"
            class="org.eclipse.jst.j2ee.navigator.internal.J2EENavigatorContentExtension"
            id="org.eclipse.jst.navigator.j2ee.ui.J2EEContent">
         <enables>
         <or>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <or>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jst.j2ee.EARNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jst.j2ee.ejb.EJBNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jst.j2ee.ApplicationClientNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jst.j2ee.web.WebNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jst.j2ee.jca.ConnectorNature">
                  </objectState>
               </or>
            </and>
			<objectClass name="org.eclipse.jst.j2ee.client.ApplicationClient" /> 
			<objectClass name="org.eclipse.jst.j2ee.jca.Connector" /> 
			<objectClass name="org.eclipse.jst.j2ee.ejb.EJBJar" /> 
			<objectClass name="org.eclipse.jst.j2ee.webapplication.WebApp" /> 
            <objectClass name="org.eclipse.jst.j2ee.ejb.EnterpriseBean" />
            <objectClass name="org.eclipse.jst.j2ee.internal.provider.J2EEItemProvider" />
            <objectClass name="org.eclipse.jst.j2ee.internal.ejb.provider.BeanClassProviderHelper" />
            </or>
         </enables>
      </navigatorContent>
   </extension>
   <extension
         id="EARGroup"
         point="org.eclipse.wst.common.navigator.workbench.NavigatorGroup">
      <navigatorGroup
            displayName="%Enterprise_Applications"
            sortOrder="0"
            icon="icons/eargroup_obj.gif"
            natureID="org.eclipse.jst.j2ee.EARNature">
      </navigatorGroup>
   </extension>
   <extension
         id="AppClientGroup"
         point="org.eclipse.wst.common.navigator.workbench.NavigatorGroup">
      <navigatorGroup
            displayName="%Application_Client_Projects"
            sortOrder="1"
            icon="icons/appclientgroup_obj.gif"
            natureID="org.eclipse.jst.j2ee.ApplicationClientNature">
      </navigatorGroup>
   </extension>
   <extension
         id="ConnectorGroup"
         point="org.eclipse.wst.common.navigator.workbench.NavigatorGroup">
      <navigatorGroup
            displayName="%Connector_Projects"
            sortOrder="2"
            icon="icons/connectorgroup_obj.gif"
            natureID="org.eclipse.jst.j2ee.jca.ConnectorNature">
      </navigatorGroup>
   </extension>
   <extension
         id="EJBGroup"
         point="org.eclipse.wst.common.navigator.workbench.NavigatorGroup">
      <navigatorGroup
            displayName="%EJB_Projects"
            sortOrder="3"
            icon="icons/ejbgroup_obj.gif"
            natureID="org.eclipse.jst.j2ee.ejb.EJBNature">
      </navigatorGroup>
   </extension>
   <extension
         id="WebGroup"
         point="org.eclipse.wst.common.navigator.workbench.NavigatorGroup">
      <navigatorGroup
            displayName="%Web_Projects"
            sortOrder="4"
            icon="icons/webgroup_obj.gif"
            natureID="org.eclipse.jst.j2ee.web.WebNature">
      </navigatorGroup>
   </extension>
   <extension
         point="org.eclipse.wst.common.navigator.workbench.NavigatorGroup">
      <navigatorGroup
            displayName="%Other_Projects"
            icon="icons/folder.gif"
            natureID="nongrouped">
      </navigatorGroup>
   </extension>
<!-- Drop Adapter for Adding Modules to EARs -->
   <extension
         id="org.eclipse.jst.j2ee.internal.ui.navigator.addModule.dropHandler"
         point="org.eclipse.wst.common.navigator.views.dropHandler">
      <dropHandler
            class="org.eclipse.jst.j2ee.navigator.internal.dnd.AddModuleDropAction"
            id="org.eclipse.jst.j2ee.internal.ui.navigator.addModule.dropHandler"
            name="%J2EE_Add_Module"
            description="%Adds_J2EE_modules_to_EAR_projects">
         <dragEnablement>
            <or>
               <or>
                  <objectClass
                        name="org.eclipse.jst.j2ee.client.ApplicationClient">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jst.j2ee.jca.Connector">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jst.j2ee.ejb.EJBJar">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jst.j2ee.webapplication.WebApp">
                  </objectClass>
               </or>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <or>
                     <objectState
                           name="projectNature"
                           value="org.eclipse.jst.j2ee.EARNature">
                     </objectState>
                     <objectState
                           name="projectNature"
                           value="org.eclipse.jst.j2ee.ejb.EJBNature">
                     </objectState>
                     <objectState
                           name="projectNature"
                           value="org.eclipse.jst.j2ee.ApplicationClientNature">
                     </objectState>
                     <objectState
                           name="projectNature"
                           value="org.eclipse.jst.j2ee.web.WebNature">
                     </objectState>
                     <objectState
                           name="projectNature"
                           value="org.eclipse.jst.j2ee.jca.ConnectorNature">
                     </objectState>
                     <objectState
                           name="projectNature"
                           value="org.eclipse.jdt.core.javanature">
                     </objectState>
                  </or>
               </and>
            </or>
         </dragEnablement>
         <dropEnablement
            validatorClass="org.eclipse.jst.j2ee.navigator.internal.dnd.AddModuleDropAction">
            <or>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jst.j2ee.EARNature">
                  </objectState>
               </and>
               <or>
                  <objectClass
                        name="org.eclipse.jst.j2ee.application.Application">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jst.j2ee.internal.provider.ModulesItemProvider">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jst.j2ee.internal.earcreation.modulemap.EARProjectMap">
                  </objectClass>
               </or>
            </or>
         </dropEnablement>
         <serializers>
            <serializer
                  class="org.eclipse.jst.j2ee.navigator.internal.dnd.ModuleIdentifierSerializer"
                  id="org.eclipse.jst.j2ee.navigator.internal.dnd.ModuleIdentifierSerializer">
            </serializer>
         </serializers>
      </dropHandler>
   </extension>
   <!-- Drop Adapter for Adding Utility Jars to EARs -->
   <extension
         id="org.eclipse.jst.navigator.j2ee.dnd.addUtilityJar.dropHandler"
         point="org.eclipse.wst.common.navigator.views.dropHandler">
      <dropHandler
            class="org.eclipse.jst.j2ee.navigator.internal.dnd.AddUtilityJarDropAction"
            id="org.eclipse.jst.j2ee.internal.ui.navigator.addUtilityJar.dropHandler"
            name="%J2EE_Add_Utility_Jar"
            description="%Adds_Utility_Jars_to_EAR_projects">
         <dragEnablement>
            <or>
               <or>
                  <objectClass
                        name="org.eclipse.jst.j2ee.client.ApplicationClient">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jst.j2ee.jca.Connector">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jst.j2ee.ejb.EJBJar">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jst.j2ee.webapplication.WebApp">
                  </objectClass>
               </or>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </objectState>
               </and>
            </or>
         </dragEnablement>
         <dropEnablement
            validatorClass="org.eclipse.jst.j2ee.navigator.internal.dnd.AddUtilityJarDropAction">
            <or>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.jst.j2ee.EARNature">
                  </objectState>
               </and>
               <or>
                  <objectClass
                        name="org.eclipse.jst.j2ee.application.Application">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jst.j2ee.internal.earcreation.modulemap.EARProjectMap">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jst.j2ee.internal.provider.J2EEUtilityJarItemProvider">
                  </objectClass>
               </or>
            </or>
         </dropEnablement>
         <serializers>
            <serializer
                  class="org.eclipse.jst.navigator.j2ee.dnd.ModuleIdentifierSerializer"
                  id="org.eclipse.jst.navigator.j2ee.dnd.utilityJarIdentifierSerializer">
            </serializer>
         </serializers>
      </dropHandler>
   </extension>
   <extension
         id="org.eclipse.jst.navigator.j2ee.dnd.utilityJarImport.dropHandler"
         point="org.eclipse.wst.common.navigator.views.dropHandler">
      <dropHandler
            class="org.eclipse.jst.j2ee.navigator.internal.dnd.AddExternalUtilityJarDropAction"
            id="org.eclipse.jst.j2ee.navigator.internal.dnd.utilityJarImport.dropHandler"
            name="%J2EE_Utility_Jar_Import"
            description="%Import_a_jar_file_UI_">
         <dropEnablement>
            <or>
               <objectClass
                     name="org.eclipse.jst.j2ee.application.Application">
               </objectClass>
               <objectClass
                     name="org.eclipse.jst.j2ee.internal.provider.J2EEUtilityJarItemProvider">
               </objectClass>
            </or>
         </dropEnablement>
      </dropHandler>
   </extension>
   <extension
         id="org.eclipse.jst.navigator.j2ee.dnd.j2eeImport.dropHandler"
         point="org.eclipse.wst.common.navigator.views.dropHandler">
      <dropHandler
            class="org.eclipse.jst.j2ee.navigator.internal.dnd.J2EEImportDropAction"
            id="org.eclipse.jst.j2ee.navigator.internal.dnd.j2eeImport.dropHandler"
            name="%J2EE_Import"
            description="%J2EE_IMPORT_MESSAGE">
         <dropEnablement>
            <or>
               <and>
                  <or>
	                  <objectClass
    	                    name="org.eclipse.core.resources.IProject">
        	          </objectClass>
            	      <objectClass
                	        name="org.eclipse.wst.common.navigator.internal.groups.NavigatorGroup">
	                  </objectClass>
                  </or>
                  <or>
                     <objectState
                           name="projectNature"
                           value="org.eclipse.jst.j2ee.EARNature">
                     </objectState>
                     <objectState
                           name="projectNature"
                           value="org.eclipse.jst.j2ee.ejb.EJBNature">
                     </objectState>
                     <objectState
                           name="projectNature"
                           value="org.eclipse.jst.j2ee.ApplicationClientNature">
                     </objectState>
                     <objectState
                           name="projectNature"
                           value="org.eclipse.jst.j2ee.web.WebNature">
                     </objectState>
                     <objectState
                           name="projectNature"
                           value="org.eclipse.jst.j2ee.jca.ConnectorNature">
                     </objectState>
                  </or>
               </and>
              <objectClass
                    name="org.eclipse.jst.j2ee.internal.provider.ModulesItemProvider">
              </objectClass>
              <objectClass
                    name="org.eclipse.jst.j2ee.application.Application">
              </objectClass>
              <objectClass
                    name="org.eclipse.jst.j2ee.client.ApplicationClient">
              </objectClass>
              <objectClass
                    name="org.eclipse.jst.j2ee.jca.Connector">
              </objectClass>
              <objectClass
                    name="org.eclipse.jst.j2ee.ejb.EJBJar">
              </objectClass>
              <objectClass
                    name="org.eclipse.jst.j2ee.webapplication.WebApp">
              </objectClass>
            </or>
         </dropEnablement>
      </dropHandler>
   </extension>

</plugin>
