<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.jem.proxy"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.jem.internal.proxy.core.ProxyPlugin">

   <runtime>
      <library name="proxy.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.core,org.eclipse.jem.internal.proxy.awt"/>
      </library>
      <library name="proxycommon.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.common"/>
      </library>
      <library name="initparser.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.initParser"/>
      </library>
      <library name="proxyremote.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.remote"/>
      </library>
      <library name="remotecommon.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.common.remote"/>
      </library>
      <library name="proxyide.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.ide"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.debug.core" export="true"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="com.ibm.wtp.common"/>
      <import plugin="org.eclipse.pde.core"/>
   </requires>


   <extension-point id="contributor" name="Proxy Configuration Contributor" schema="schema/contributor.exsd"/>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%Launch.localProxy"
            delegate="org.eclipse.jem.internal.proxy.remote.LocalProxyLaunchDelegate"
            category="org.eclipse.jem.proxy"
            modes="run"
            id="org.eclipse.jem.proxy.LocalProxyLaunchConfigurationType">
      </launchConfigurationType>
   </extension>

</plugin>
