<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jem.proxy"
   name="%pluginName"
   version="1.0.1"
   provider-name="%providerName"
   class="org.eclipse.jem.internal.proxy.core.ProxyPlugin">

   <runtime>
      <library name="proxy.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.core,org.eclipse.jem.internal.proxy.awt"/>
      </library>
      <library name="proxycommon.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.common"/>
      </library>
      <library name="initparser.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.initParser"/>
      </library>
      <library name="proxyremote.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.remote"/>
      </library>
      <library name="remotecommon.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.common.remote"/>
      </library>
      <library name="proxyide.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.proxy.ide"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="com.ibm.wtp.common.util"/>
      <import plugin="org.eclipse.pde.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui" optional="true"/>
   </requires>


   <extension-point id="contributors" name="%contributors.extensionpoint.name" schema="schema/contributors.exsd"/>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%Launch.localProxy"
            delegate="org.eclipse.jem.internal.proxy.remote.LocalProxyLaunchDelegate"
            category="org.eclipse.jem.proxy"
            modes="run"
            id="org.eclipse.jem.proxy.LocalProxyLaunchConfigurationType"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>

</plugin>
