<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- ====================================================== -->
<!--                                                        -->
<!-- Purpose: Extension for the J2EE ACtion Sets            -->
<!-- Extension point: org.eclipse.ui.actionSets             -->
<!-- ====================================================== -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%connectors.actionSet"
            description="%connectors.actionSet"
            visible="false"
            id="org.eclipse.jst.j2ee.J2eeMainActionSet4">
         <action
               label="%new.jca.module.description_ui_"
               icon="icons/full/ctool16/newconnectionprj_wiz.gif"
               tooltip="%new.jca.module.description_ui_"
               class="org.eclipse.jst.j2ee.jca.ui.internal.actions.NewConnectorComponentAction"
               toolbarPath="J2EEMain4"
               id="org.eclipse.jst.j2ee.jca.ui.internal.actions.NewConnectorComponent">
         </action>
      </actionSet>
	</extension>
   <!-- Connector Module Wizard -->
    <extension
         id="J2EEUIProjectWizards"
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%connector_module_ui_"
            icon="icons/full/ctool16/newconnectionprj_wiz.gif"
            category="org.eclipse.jst.j2ee.internal"
            class="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorProjectWizard"
            project="true"
            finalPerspective="org.eclipse.jst.j2ee.J2EEPerspective"
            id="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorProjectWizard">
         <description>
            %new.connector.module.description_ui_
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
    </extension>
<!-- JCA Import Wizard --> 
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.jst.j2ee.internal"
            class="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorComponentImportWizard"
            icon="icons/full/ctool16/import_rar.gif"
            id="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorComponentImportWizard"
            name="%connector.jar.file_ui_">
         <description>
            %connector.import.description_ui_
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
       </wizard>
     </extension>

<!-- JCA Export Wizard --> 
    <extension
         point="org.eclipse.ui.exportWizards">
     <wizard
           category="org.eclipse.jst.j2ee.internal"
           class="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorComponentExportWizard"
           icon="icons/full/ctool16/export_rar.gif"
           id="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorComponentExportWizard"
           name="%connector.jar.file_ui_">
         <description>
            %connector.export.description_ui_
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
       </wizard>
     </extension>
    
    <extension point="org.eclipse.wst.common.project.facet.ui.wizardPages">
      <wizard-pages action="jst.connector.install">
        <page class="org.eclipse.jst.j2ee.jca.ui.internal.wizard.ConnectorFacetInstallPage"/>
      </wizard-pages>
    </extension>
    
</plugin>
