<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.wst.common.project.facet.core.facets">

    <project-facet-version facet="jst.web" version="2.5">
      <constraint>
        <and>
          <requires facet="jst.java" version="[5.0"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>

   <action facet="jst.web" version="2.5" type="INSTALL" id="jst.web#2.5#install">
      <delegate class="org.eclipse.jst.jee.web.project.facet.WebFacetInstallDelegate"/>
      <config-factory class="org.eclipse.jst.j2ee.web.project.facet.WebFacetInstallDataModelProvider"/>
    </action>

     <event-handler facet="jst.web" version="2.5" type="POST_INSTALL" >
      	<delegate class="org.eclipse.jst.jee.web.project.facet.WebFacetPostInstallDelegate"/>
      </event-handler>

	<event-handler facet="jst.web" version="2.5" type="RUNTIME_CHANGED">
      <delegate class="org.eclipse.jst.j2ee.web.project.facet.WebFacetRuntimeChangedDelegate"/>
    </event-handler>
    
   </extension>

   <extension
        point="org.eclipse.jst.j2ee.J2EEModelProvider">
      	<provider>
        	<modelProvider factoryClass="org.eclipse.jst.jee.model.internal.Web25ModelProviderFactory"/>	
      		<facet id="jst.web" versions="2.5"/>
      	</provider>
   </extension>
 </plugin>
