<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.wst.common.project.facet.core.facets">

    <project-facet-version facet="jst.web" version="2.5">
      <constraint>
        <and>
          <requires facet="jst.java" version="[1.3"/>
          <conflicts group="modules"/>
        </and>
      </constraint>
      <group-member id="modules"/>
    </project-facet-version>

   <action facet="jst.web" version="2.5" type="INSTALL" id="jst.web#2.5#install">
      <delegate class="org.eclipse.jst.jee.web.project.facet.WebFacetInstallDelegate"/>
    </action>

     <event-handler facet="jst.web" version="2.5" type="POST_INSTALL" >
      	<delegate class="org.eclipse.jst.jee.web.project.facet.WebFacetPostInstallDelegate"/>
      </event-handler>

   </extension>
 </plugin>
