<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.jem.beaninfo.ui"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.jem.internal.beaninfo.ui.BeaninfoUIPlugin">

   <runtime>
      <library name="beaninfoui.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jem.internal.beaninfo.ui"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jem.beaninfo"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jem"/>
   </requires>


   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="%BeaninfoPath_Title_UI_"
            class="org.eclipse.jem.internal.beaninfo.ui.BeaninfosPropertyPage"
            id="BeaninfoPropertiesPage">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
      <page
            objectClass="org.eclipse.jdt.core.IJavaProject"
            name="%BeaninfoPath_Title_UI_"
            class="org.eclipse.jem.internal.beaninfo.ui.BeaninfosPropertyPage"
            id="BeaninfoPropertiesPage">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editors.OverrideEditor"
            extensions="override"
            icon="icons/full/obj16/file_obj.gif"
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            id="org.eclipse.jem.beaninfo.OverrideEditor">
      </editor>
   </extension>

</plugin>
