<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jem.workbench"
   name="%pluginName"
   version="1.1.0"
   provider-name="%providerName"
   class="org.eclipse.jem.internal.plugin.JavaPlugin">

   <runtime>
      <library name="workbench.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jem"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.jem.proxy"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jem.util"/>
   </requires>


   <extension
         id="JavaEMFNature"
         name="%JavaEMFNatureName"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.jem.internal.plugin.JavaEMFNature">
         </run>
      </runtime>
   </extension>

</plugin>
