<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.jem.workbench"
   name="%pluginName"
   version="0.5.0"
   provider-name="%providerName"
   class="org.eclipse.jem.internal.plugin.JavaPlugin">

   <runtime>
      <library name="workbench.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jem" export="true"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="com.ibm.etools.jem.emf.workbench" export="true"/>
   </requires>


   <extension-point id="nature_registration" name="Java EMF Nature registration"/>

<!--
	Java MOF Nature registration - register the nature id with AbstractJavaMOFNature.
	This needs to be done for all J2EENatures.
	<extension point="com.ibm.etools.java.nature_registration">
	   <nature id="com.ibm.etools.j2ee.EJBNature"/>
	</extension>
-->
<!--============================-->
<!-- JavaMOFNature Contributions-->
<!--============================-->
   <extension
         id="JavaEMFNature"
         name="JavaEMFNature Properties"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.jem.internal.plugin.JavaMOFNatureRuntime">
         </run>
      </runtime>
   </extension>

</plugin>
