<%     if (field.isPromoteLocalGS() || field.isPromoteGS()) { 
			String value = null;
			if (field.isPromoteLocalGS() && field.isPromoteGS())
				value = "both";
			else if (field.isPromoteLocalGS())
				value = "local";
			else
				value = "remote";%>
	 * @ejb.interface-method
	 *  view-type="<%=value%>"
<% } %>
