<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?>

<plugin
   id="org.eclipse.jst.j2ee.infopop"
   name="%Plugin.name"
   version="0.7.0"
   provider-name="Eclipse.org">
   
   <extension point="org.eclipse.help.contexts">
	<contexts file="ExportWizard_HelpContexts.xml" plugin="org.eclipse.jst.j2ee" />
	<contexts file="ImportWizard_HelpContexts.xml" plugin="org.eclipse.jst.j2ee" />
	<contexts file="J2EEGeneral_HelpContexts.xml" plugin="org.eclipse.jst.j2ee" />
	<contexts file="ProjectCreateWizard_HelpContexts.xml" plugin="org.eclipse.jst.j2ee" />
	<contexts file="EJBCreateWizard_HelpContexts.xml" plugin="org.eclipse.jst.j2ee" />
   	<!--<contexts file="DeleteBean_HelpContexts.xml" plugin="org.eclipse.jst.j2ee" /> -->
	<contexts file="ValidationProjPrefs_HelpContexts.xml" plugin="org.eclipse.wst.validation" />
	<contexts file="ValidationPrefs_HelpContexts.xml" plugin="org.eclipse.wst.validation" />
	<contexts file="ProjectPrefs_HelpContexts.xml" plugin="org.eclipse.jst.j2ee" />
	<contexts file="Preferences_HelpContexts.xml" plugin="org.eclipse.jst.j2ee" />
   </extension>

</plugin>
