<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.jem.beaninfo.registrations">
      <registration
            container="org.eclipse.jdt.launching.JRE_CONTAINER">
         <override
               package="org.eclipse.jem.tests.beaninfo"
               path="testdata/overrides/beaninfo">
         </override>
      </registration>
	</extension>

</plugin>
