<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jst.common.annotations.controller"
   name="Annotation Controller Plug-in"
   description="This plugin provides the framework for the annotations controller which manages any added annotation builders."
   version="1.0.0"
   provider-name="Eclipse.org">

   <runtime>
      <library name="controller.jar">
         <export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.wst.common.emf"/>
      <import plugin="org.eclipse.jst.common.annotations.core"/>
      <import plugin="org.eclipse.jem.util"/>
      <import plugin="org.eclipse.jem.workbench"/> 
   </requires>


   <extension-point id="annotationsController" name="Annotations Controller" schema="schema/annotationsController.exsd"/>
   <extension-point id="AnnotationTagInfo" name="annotation tag info" schema="schema/annotation-tag-info.exsd"/>
   <extension-point id="AnnotationTagSet" name="annotation tagset" schema="schema/annotation.tagset.exsd"/>
   <extension-point id="annotationTagDynamicInitializer" name="annotationTagDynamicInitializer" schema="schema/annotationTagDynamicInitializer.exsd"/>
</plugin>
