<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.wtp.emf.workbench"
   name="EMF Workbench"
   version="1.0.1"
   provider-name="IBM"
   class="com.ibm.wtp.emf.workbench.plugin.EMFWorkbenchPlugin">

   <runtime>
      <library name="emfworkbench.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.emf.edit"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="com.ibm.wtp.common.util"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


<!-- Extension point to register ResourceHandlers that will always be added to 
	new WorkbenchContexts -->
   <extension-point id="ResourceHandlerExtension" name="ResourceHandlerExtension"/>
   <extension-point id="globalPluginResourceLoad" name="Global Plugin Resource Load" schema="schema/globalPluginResourceLoad.exsd"/>
   <extension-point id="nature_registration" name="EMF Nature registration"/>
   <extension-point id="internalWorkbenchContextFactory" name="Internal Workbench Context Factory"/>

</plugin>
